:root {--color-one:#2e2f42;
       --color-too:#4d5ae5;
       --color-three:#ffffff;
       --color-four:#434455;
       --color-five:#f4f4fd;
       --color-six: #404bbf;
       --color-seven:#e7e9fc;
       --color-eight:#8e8f99;
       --color-nine:#31d0aa;
       --color-ten:#fcfcfc;
       --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);}

h1, h2,h3,p{margin-top:0;
            margin-bottom:0;}
ul{margin-top: 0;
   margin-bottom:0;
   padding-left: 0;}


.visually-hidden {
       position: absolute;
       width: 1px;
       height: 1px;
       margin: -1px;
       border: 0;
       padding: 0;
       white-space: nowrap;
       clip-path: inset(100%);
       clip: rect(0 0 0 0);
       overflow: hidden;}

img {display: block;}

a {display: block;}

 

body {
       font-family: 'Roboto', sans-serif;
       background-color: var(--color-three);
       color: var(--color-four);}



.list {list-style: none;}

.link {text-decoration: none;}


/* .container {
       padding-left: 15px;
       padding-right: 15px;
       margin-left: auto;
       margin-right: auto;
} */

.header {
       border-bottom: 1px solid var(--color-seven);
       box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
       margin-bottom: 2px;
}


.header-container {
       display: flex;
       justify-content: space-between;
       align-items: center;} 

.logo {
       font-family: 'Raleway', sans-serif;
       font-weight: 800;
       font-size: 18px;
       line-height: 1.17;
       letter-spacing: 0.03em;
       text-transform: uppercase;
       color: var(--color-too);
       margin-right: 76px;
}



.logo-one {
       color: var(--color-one);
}

.logo-too {
       color: var(--color-five);
}


.p-descriphion {
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       color: var(--color-four);
       margin-bottom: 8px;
}

.p-descriphion-one {
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       color: var(--color-four);
}




.title-too {
       font-weight: 700;
       font-size: 36px;
       line-height: 1.1;
       letter-spacing: 0.02em;
       text-align: center;
       text-transform: capitalize;
       color: var(--color-one);
       margin-bottom: 72px;
}

 .title-three {
       font-weight: 500;
       font-size: 20px;
       line-height: 1.2;
       letter-spacing: 0.02em;
       color: var(--color-one);
       margin-bottom: 8px;}





.title-tree-one{font-weight: 700;
                font-size: 36px;
                line-height: 1.11px;
                letter-spacing: 0.04em;
                text-transform: capitalize; 
              }




.button {
       font-family: 'Roboto', sans-serif;
       font-weight: 500;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.04em;
       cursor: pointer;
       background-color: var(--color-too);
       color: var(--color-three);
       min-width: 169px;
       height: 56px;
       display: block;
       margin: 0 auto;
       padding: 16px 32px 16px 32px;
       border: none;
       border-radius: 4px;
       transition: background-color var(--transition);
}




.button:hover,
.button:focus {
       background-color: var(--color-six);
}


.button-too {
       font-family: 'Roboto', sans-serif;
       font-weight: 500;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.04em;
       cursor: pointer;
       background-color: var(--color-five);
       color: var(--color-too);
       display: block;
       padding: 12px 24px 12px 24px;
       border: 1px solid var(--color-seven);
       border-radius: 4px;
       transition: color var(--transition),
              background-color var(--transition),

              border-color var(--transition),
              box-shadow var(--transition);
}

.button-too:hover,
.button-too:focus {
       background-color: var(--color-six);
       color: var(--color-three);
       border: 1px solid transparent;
       box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}


.button-footer {
       font-family: 'Roboto', sans-serif;
       font-weight: 500;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.04em;
       cursor: pointer;
       background-color: var(--color-too);
       color: var(--color-three);
       min-width: 167px;
       height: 41px;
       display: flex;
       justify-content: center;
       align-items: center;
       column-gap: 8px;
       border: none;
       border-radius: 4px;
       transition: background-color var(--transition);
}



.customers-icon {
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 24px;
       height: 100%;
       color: var(--color-eight);
       border: 1px solid var(--color-eight);
       border-radius: 4px;
       transition: border-color var(--transition),
              color var(--transition);
}

.customers-icon:hover,
.customers-icon:focus {
       color: var(--color-six);
       border-color: var(--color-six);
}

.customers-icon-size {
       width: calc((100% - 120px) / 6);
       height: 88px;
}

.color-icons-customers {
       fill: var(--color-one);
}

.logo-footer {
       font-family: 'Raleway', sans-serif;
       font-weight: 800;
       font-size: 18px;
       line-height: 1.17;
       letter-spacing: 0.03em;
       text-transform: uppercase;
       color: var(--color-too);
       display: block;
       margin-bottom: 16px;}

  .p-footer {
       font-weight: 400;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       color: var(--color-five);}  


  /* .p-footer-one {align-items: center;} */
  /* .p-footer-too{align-items: center;} */
  
  



 


@media screen and (max-width:767px) {
       .menu {display: none;}
       .adress {display: none;}
       .menu-link {display: none;}

}

@media screen and (min-width:768px) {
       
.mobil-menu-open { display: none;}
}



 

@media screen and (min-width:320px) and (max-width:427px) {

.container {
              max-width: 427px;
              padding-left: 24px;
              padding-right: 24px;
              margin: 0 auto;
       }

        .header {
              padding-top: 24px;
              padding-bottom: 24px;
       } 


       .mobil-container {
              max-width: 427px;
              position: relative;
              padding-left: 40px;
              padding-top: 86px;
              padding-bottom: 8px;
              margin: 0 auto;


       }


       .p-descriphion-one {
              font-size: 16px;
              font-weight: 500;
              line-height: 1.5;
              letter-spacing: 0.02em;
              color: var(--color-four);
              margin-top: 20px;
       }

       .title-one {
              font-weight: 700;
              text-align: center;
              font-size: 36px;
              line-height: 1.11;
              letter-spacing: 0.04em;
              text-transform: capitalize;
              color: var(--white, #FFF);
              margin-bottom: 72px;
       }

       .title-three {
              font-weight: 500;
              font-size: 20px;
              line-height: 1.2;
              letter-spacing: 0.02em;
              color: var(--color-one);
              margin-bottom: 8px;
       }






       .title-three-one {
              font-weight: 700;
              font-size: 36px;
              line-height: 1.11px;
              letter-spacing: 0.04em;
              text-align: center;
              text-transform: capitalize;
              margin-top: 8px;

       }




       .mobil-menu {
              position: fixed;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              z-index: 1000;
              background-color: var(--color-five);
              opacity: 1;
              visibility: visible;
              pointer-events: auto;
              overflow: auto;
       }

       .is-open {
              opacity: 0;
              visibility: hidden;
              pointer-events: 0;
       }

       .mobil-menu-open {
              background-color: transparent;
              border: none;
              padding: 0;
              
       }



       .margin-phone {
              margin-top: auto;}
       
       .margin-footer-mobile {
              margin-top: 48px;
       }

       .mobil-font {
              font-size: 36px;
              font-family: Roboto;
              font-style: normal;
              font-weight: 700;
              line-height: 1.11;
              letter-spacing: 0.04em;
              text-transform: capitalize;
              color: var(--color-one);
              margin-bottom: 40px;
       }

       .mobil-font-one {
              font-size: 36px;
              font-family: Roboto;
              font-style: normal;
              font-weight: 700;
              line-height: 1.11;
              letter-spacing: 0.04em;
              text-transform: capitalize;
              color: var(--color-six);
              margin-bottom: 40px;
       }


       .mobil-font-mail {
              font-family: Roboto;
              font-size: 20px;
              font-style: normal;
              font-weight: 500;
              line-height: 1.2;
              letter-spacing: 0.025em;
              color: var(--color-four);
              margin-top: 40px;
              margin-bottom: 48px;
       }



       

      .right-margin {
       justify-content: center;
       gap: 24px;}

      .line-one {
       flex-direction: column;
       display: flex;
       align-items: center;
       gap:72px;}


       .line {
              flex-direction: row;
              display: flex;
       }

.hero {
       padding-top: 112px;
       padding-bottom: 112px;
       background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
              url('../images/mobil/Dark-bg-1x.jpg');
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
       background-color: rgba(46, 47, 66, 0.7);
       max-width: 427px;
       margin: 0 auto;
}







       .advantages {
              padding-top: 96px;
       }

       .line-advantages {
              flex-direction: column;
              display: flex;
              align-items: center;
              row-gap: 72px; 
       }



       

       .line-sosial-footer {
               flex-direction: row;
                display: flex;
                gap: 42px;}



       .icon-conteiner {
              display: none;
       }

       .what-are-we-doing {
              display: none;
       }



       .mobil-menu_close-btn {
              position: absolute;
              top: 24px;
              right: 24px;
              background-color: transparent;
              border: none;
              padding: 0;
              line-height: 0;
       }


       .line-mobil {
              display: flex;
              flex-direction: column;

       }

       .our-team {
              background-color: var(--color-five);
              padding-top: 96px;
              padding-bottom: 96px;
       }

       .card-emploers {
              display: block;
              padding-top: 32px;
              padding-bottom: 32px;
              text-align: center;
              justify-content: center;
       }

       .width {
              flex-basis: calc(100% - 3 * 24px)
       }

       .emploer {width:260px ;
              background-color: var(--color-three);
              flex-basis: calc((100% - 3 * 24px)/4);
              border-radius: 0px 0px 4px 4px;
              box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
                     0px 2px 1px rgba(46, 47, 66, 0.08);
       }


       .im-center {width: 260px;
              margin: 0 auto;
       }


       .center {
              text-align: center;
       }

       .center-icon {
              justify-content: center;
       }

       .center {
              text-align: center;
       }



       .right-margin {
              align-items: center;
              gap: 24px;
       }

       .social-list-size {
              width: 40px;
              height: 40px;
       }

       .social-list {
              display: flex;
              height: 100%;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              background-color: var(--color-too);
              transition: background-color var(--transition);
       }

       .social-list:hover,
       .social-list:focus {
              background-color: var(--color-six);
       }

       .color-icons-our-team {
              fill: var(--color-five);
       }


       .customers {
              background-color: var(--color-three);
              padding-top: 96px;
              padding-bottom: 96px;
       }

       .line-customers {
              display: flex;
              flex-wrap: wrap;
              row-gap: 72px;
              column-gap: 16px;

       }


       .customers-icon-size {
              width: 190px;
              height: 88px;
       }

       .color-icons-customers {
              fill: currentColor;
       }


       .footer {
              background-color: var(--color-one);
              padding-top: 100px;
              padding-bottom: 100px;
       }

      .line-footer {
       flex-direction: column;
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 40px;
}
      
    .logo-footer {
       margin-left: auto;
       margin-right: auto;
       padding-left: 100px;
       padding-right: 100px;
}



       .p-footer {
              font-weight: 400;
              font-size: 16px;
              font-style: normal;
              line-height: 1.5;
              letter-spacing: 0.02em; 
              color: var(--color-five); 
              width: 215px;
              margin-left: auto;
              margin-right: auto;
       }


       .m-footer-one {gap: 16px;}

       .p-footer-one {
              font-weight: 500;
              font-size: 16px;
              line-height: 1.5;
              letter-spacing: 0.02em;
              color: var(--color-three);
              margin-bottom: 16px;
              padding-left: 45px;
       }

      .p-footer-too {
          font-weight: 500;
          font-size: 16px;
          line-height: 1.5;
          letter-spacing: 0.02em;
          color: var(--color-three);
          margin-bottom: 16px;
          padding-left :88px;
}





       .social-list-footer {
              display: flex;
              height: 100%;
              justify-content: center;
              align-items: center;
              border-radius: 50%;
              background-color: var(--color-too);
              transition: background-color var(--transition);
       }


       .social-list-footer:hover,
       .social-list-footer:focus {
              background-color: var(--color-nine);
       }

       .width-footer-input{width:100%;}


       .input-footer {
              flex-direction: column;
              display: flex;
              margin-top: 16px;
              align-items: 24px;
              row-gap: 24px;
       }





       .footer-form-input {
              width: 100%;
              height: 40px;
              border: 1px solid var(--color-three);
              border-radius: 4px;
              padding-left: 12px;
              outline: none;
              background-color: var(--color-one);
              color: var(--color-three);
       }

       .button-footer {
              width: 77px;
              margin: 0 auto;
       }






       .icon-footer {
              fill: var(--color-three);
       }






       .portfolio {
              background-color: var(--color-three);
              padding-top: 96px;
              padding-bottom: 120px;
       }

       .line-portfolio-one {
              display: flex;
              flex-wrap: wrap;
              align-items: center;
              justify-content: center;
              column-gap: 24px;
              margin-bottom: 72px;
       }

       .card-portfolio {
              padding-top: 32px;
              padding-bottom: 32px;
              padding-left: 16px;
              padding-right: 16px;
              border: 1px solid var(--color-seven);
              border-top: none;
       }

       .portfolio-shadow {
              box-shadow: none;
              transition: box-shadow var(--transition);
       }

       .portfolio-shadow:hover,
       .portfolio-shadow:focus {
              box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

       }

       .porfolio-wrapper {
              position: relative;
              overflow: hidden;
       }

       .overlay {
              position: absolute;
              left: 0;
              top: 0;
              font-size: 16px;
              line-height: 1.5;
              letter-spacing: 0.02em;
              color: var(--color-five);
              text-align: center;
              width: 100%;
              height: 100%;
              overflow: auto;
              transform: translate(0, 100%);
              transition: transform var(--transition);
              padding: 40px 32px;
              background-color: var(--color-too);
       }

       .portfolio-item:hover .overlay,
       .portfolio-item:focus .overlay {
              transform: translate(0, 0);
       }


       .backdrop.is-hidden {
              opacity: 0;
              visibility: hidden;
              pointer-events: none;

       }

       .backdrop {
              position: fixed;
              top: 0;
              left: 0;
              z-index: 1000;
              width: 100%;
              height: 100%;
              background-color: rgba(46, 47, 66, 0.4);
              transition: opacity var(--transition), visibility var(--transition);
              overflow-y: scroll;

       }

       .modal {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              max-width: 427px;
              min-height: 576px;
              padding: 72px 24px 24px 24px;
              background-color: var(--color-ten);
              border-radius: 4px;
              box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
              transition: transform var(--transition);

       }

       .modal-close-button {
              display: flex;
              position: absolute;
              cursor: pointer;
              top: 24px;
              right: 24px;
              justify-content: center;
              align-items: center;
              background-color: var(--color-seven);
              width: 24px;
              height: 24px;
              border: 1px solid rgba(0, 0, 0, 0.1);
              border-radius: 50%;
              padding: 0;
              transition: var(--transition);
              fill: var(--color-one);
              transition: background-color var(--transition), border var(--transition);
       }

       .modal-close-button-icon {
              transition: fill var(--transition);
       }

       .modal-close-button:hover,
       .modal-close-button:focus {
              background-color: var(--color-six);
              border: none;
       }

       .modal-close-button:hover .modal-close-button-icon,
       .modal-close-button:focus {
              fill: var(--color-three);
       }


       .p-modal {
              font-weight: 500;
              font-size: 16px;
              line-height: 1.5;
              letter-spacing: 0.02em;
              color: var(--color-one);
              margin-bottom: 16px;
              margin-left: auto;
              margin-right: auto;

       }


       .modal-form {
              display: flex;
              flex-direction: column;
       }

       .modal-form-input {
              width: 100%;
              height: 40px;
              border: 1px solid rgba(46, 47, 66, 0.4);
              border-radius: 4px;
              padding-left: 42px;
              transition: border-color var(--transition);
       }


       .modal-form-input:focus {
              outline: none;
              border-color: var(--color-too);
       }

       .modal-form-input-desk {
              display: block;
              font-size: 14;
              line-height: 1.2;
              margin-bottom: 8px;
              color: rgba(46, 47, 66, 0.4);


       }

       .modal-form-field {
              margin-bottom: 12px;
       }

       .modal-form-input-wrapper {
              display: block;
              position: relative;
       }

       .modal-form-input-icon {
              display: block;
              position: absolute;
              top: 50%;
              transform: translate(0, -50%);
              left: 12px;
              width: 18px;
              height: 24px;
              fill: currentColor;
              transition: fill var(--transition);
       }

       .modal-form-input:focus+.modal-form-input-icon {
              fill: var(--color-too);
       }

       .modal-form-message {
              width: 100%;
              height: 120px;
              padding: 10px 16px;
              resize: none;
              border: 1px solid rgba(46, 47, 66, 0.4);
              color: rgba(46, 47, 66, 0.4);
              border-radius: 4px;
              transition: border-color var(--transition) color var(--transition);
       }

       .modal-form-message:focus {
              outline: none;
              border-color: var(--color-too);
              color: var(--color-one);
       }


       .modal-form-check-desc {
              display: flex;
              font-size: 12px;
              line-height: 1, 2;
              align-items: center;
              margin-bottom: 20px;

       }

       .modal-form-check-desc::before {
              content: '';
              display: block;
              width: 16px;
              height: 16px;
              border: 1px solid rgba(46, 47, 66, 0.4);
              border-radius: 2px;
              cursor: pointer;
              margin-right: 10px;
       }




       .modal-form-check {}

       .modal-form-check:checked+.modal-form-check-desc::before {
              border-color: var(--color-six);
              background-color: var(--color-six);
              background-image: url('../images/checkbox.svg');
              background-size: contain;
              background-origin: border-box;
              outline: none;
       }


       .modal-form-submit {
              font-family: 'Roboto', sans-serif;
              font-weight: 500;
              font-size: 16px;
              line-height: 1.5;
              letter-spacing: 0.04em;
              cursor: pointer;
              background-color: var(--color-too);
              color: var(--color-three);
              min-width: 169px;
              height: 56px;
              display: block;
              margin: 0 auto;
              padding: 16px 32px 16px 32px;
              border: none;
              border-radius: 4px;
              transition: background-color var(--transition);
       }

       .modal-form-submit:hover,
       .button:focus {
              background-color: var(--color-six);
       }


}




@media screen and (min-width:428px) {

.container {max-width: 428px;
             padding-left:15px ;
             padding-right: 15px;
             margin: 0 auto;}       

.header {           
                   padding-top: 24px;
                   padding-bottom: 24px;}               
                                       
               
                                      
.mobil-container {
       max-width: 767px;
       position: relative;
       padding-left: 40px; 
       padding-top: 86px;
       padding-bottom: 8px;
       margin: 0 auto;
       
       
}


.p-descriphion-one {
       font-size: 16px;
       font-weight: 500;
       line-height: 1.5;
       letter-spacing: 0.02em;
       color: var(--color-four);}
       

.title-one {
font-weight: 700;
text-align: center;
font-size: 36px;
line-height: 1.11;
letter-spacing: 0.045em;
text-transform: capitalize;
color: var(--white, #FFF);
margin-bottom: 72px;}

.title-three {
       font-weight: 500;
       font-size: 20px;
       line-height: 1.2;
       letter-spacing: 0.02em;
       color: var(--color-one);
       margin-bottom: 8px;}






.title-three-one {
       font-weight: 700;
       font-size: 36px;
       line-height: 1.11;
       letter-spacing: 0.045em;
       text-align: center; 
       text-transform: capitalize;
       margin-top: 8px;
       
}




.mobil-menu {
       position: fixed;
       width: 100%;
       height: 100%;
       top: 0;
       left: 0;
       z-index: 1000;
       background-color: var(--color-three);
       opacity: 1;
       visibility: visible;
       pointer-events: auto;
       overflow: auto;
       box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);
}





.is-open {
       opacity: 0;
       visibility: hidden;
       pointer-events: 0;
}

.mobil-menu-open{background-color: transparent;
                 border: none;
                 padding: 0; }



.margin-phone{margin-top:284px;} 

.margin-footer-mobile{margin-top:48px;}

.mobil-font {
         font-size: 36px;
         font-family: Roboto;
         font-style: normal;
         font-weight: 700;
         line-height: 1.11;
         letter-spacing: 0.045empx;
         text-transform: capitalize;
         color: var(--color-one);
         margin-bottom: 40px;}

.mobil-font-one {
       font-size: 36px;
       font-family: Roboto;
       font-style: normal;
       font-weight: 700;
       line-height: 1.11;
       letter-spacing: 0.045em;
       text-transform: capitalize;
       color: var(--color-six);
       margin-bottom: 40px;
}


.mobil-font-mail{ font-family: Roboto;
                  font-size: 20px;
                  font-style: normal;
                  font-weight: 500;
                  line-height: 1.2;
                  letter-spacing: 0.025em;
                  color: var(--color-four);
                  margin-top:40px;
                  margin-bottom:48px;}

         

.line-one{flex-direction: column;
          display:flex;
          align-items: center;
          gap:72px; }

.right-margin {
       justify-content: center;
       gap: 24px;
}

.line {
       flex-direction: row;
       display: flex;}

 .hero {
       padding-top: 112px;
       padding-bottom: 112px;
       background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
              url('../images/mobil/Dark-bg-1x.jpg');
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
       background-color: rgba(46, 47, 66, 0.7);
       max-width: 428px;
       margin: 0 auto;
} 

@media screen and (min-device-pixel-ratio:2) and (max-width:767px),
screen and (min-resolution:192dpi) and (max-width:767px),
screen and (min-resolution: 2dppx) and (max-width:767px) {

       .hero {
              padding-top: 112px;
              padding-bottom: 112px;
              background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                     url('../images/mobil/Dark-bg-2x.jpg');
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
              background-color: rgba(46, 47, 66, 0.7);
              max-width: 428px;
              margin: 0 auto;
       }
}


 .advantages {
        padding-top: 96px; 
}
 .line-advantages {
       flex-direction: column;
       display: flex;
       align-items: center; 
       row-gap: 72px;
}  


       
.line-sosial-footer{flex-direction: row;
       display: flex;
       gap: 56px;
}      

 
 
 .icon-conteiner{display: none;}
 
 .what-are-we-doing{display: none;}
 
  

.mobil-menu_close-btn {
        position: absolute;
        top: 24px;
        right: 24px;
        background-color: transparent;
        border: none;
        padding: 0;
        line-height: 0;
 }

 
.line-mobil {
       display: flex;
       flex-direction: column;
       
}  
 
.our-team {
       background-color: var(--color-five);
       padding-top: 96px;
       padding-bottom: 96px; 
}
.card-emploers {
       display: block;
       padding-top: 32px;
       padding-bottom: 32px;
       text-align: center;
       justify-content: center;
}

.width {
       flex-basis: calc(100% - 3 * 24px)
}

.emploer {width:260px ;
       background-color: var(--color-three);
        flex-basis: calc((100% - 3 * 24px)/4); 
       border-radius: 0px 0px 4px 4px;
       box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
              0px 2px 1px rgba(46, 47, 66, 0.08);
}


.im-center{width:260px ;
        margin: 0 auto;}


.center {
       text-align: center;
}

.center-icon {
       justify-content: center;
}

.center {
       text-align: center;
}



.right-margin {
       justify-content: center;
       gap: 24px;
}

.social-list-size {
       width: 40px;
       height: 40px;
}

.social-list {
       display: flex;
       height: 100%;
       justify-content: center;
       align-items: center;
       border-radius: 50%;
       background-color: var(--color-too);
       transition: background-color var(--transition);
}

.social-list:hover,
.social-list:focus {
       background-color: var(--color-six);
}

.color-icons-our-team {
       fill: var(--color-five);
}


.customers {
       background-color: var(--color-three);
        padding-top: 96px; 
        padding-bottom: 96px; 
}

.customers-icon-size {
       width: 190px;
       height: 88px;
}

.line-customers {
       display: flex;
       flex-wrap: wrap;
       row-gap: 48px;
       column-gap: 16px;

}



.color-icons-customers {
       fill: currentColor;
}


.footer {
       background-color: var(--color-one);
       padding-top: 100px;
       padding-bottom: 100px;
}
.line-footer {
       flex-direction: column;
       display: flex;
       align-items: center;
       gap: 40px;
}

.p-footer {
       font-weight: 400;
       font-size: 16px;
       font-style: normal;
       line-height: 1.5;
       letter-spacing: 0.02em;
       color: var(--color-five);
       width: 268px;
       margin-left: auto;
       margin-right: auto; 
       
       
       
 }
       

 
       



.logo-footer {margin-left: auto;
              margin-right: auto;
              padding-left:140px;
              padding-right: 140px;}

.m-footer-one {gap: 16px;}


 .p-footer-one {
       font-weight: 500;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       color: var(--color-three);
       width: 268;
       margin-bottom: 16px;
       padding-left: 56px; 
       }


.p-footer-too {
       font-weight: 500;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       color: var(--color-three);
       margin-bottom: 16px;
       padding-left: 150px;}



.social-list-footer {
       display: flex;
       height: 100%;
       justify-content: center;
       align-items: center;
       border-radius: 50%;
       background-color: var(--color-too);
       transition: background-color var(--transition);
}


.social-list-footer:hover,
.social-list-footer:focus {
       background-color: var(--color-nine);
}


 .width-footer-input {width: 100%;} 



.input-footer {flex-direction: column;
       display: flex;
       margin-top: 16px;
       align-items: 24px;
       row-gap: 24px;}

  
 


.footer-form-input {
       width: 100%; 
       height: 40px;
       border: 1px solid var(--color-three);
       border-radius: 4px;
       padding-left: 12px;
       outline: none;
       background-color: var(--color-one);
       color: var(--color-three);
}

.button-footer {width:77px;
                margin: 0 auto;}

.p-footer-one{align-items: center;}                

.icon-footer {
       fill: var(--color-three);
}






.portfolio {
       background-color: var(--color-three);
       padding-top: 96px;
       padding-bottom: 120px;
}

.line-portfolio-one {
       display: flex;
       flex-wrap: wrap ;
       align-items: center;
       justify-content: center;
       column-gap: 24px;
       margin-bottom: 72px;
}

.card-portfolio {
       padding-top: 32px;
       padding-bottom: 32px;
       padding-left: 16px;
       padding-right: 16px;
       border: 1px solid var(--color-seven);
       border-top: none;
}

.portfolio-shadow {
       box-shadow: none;
       transition: box-shadow var(--transition);
}

.portfolio-shadow:hover,
.portfolio-shadow:focus {
       box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}

.porfolio-wrapper {
       position: relative;
       overflow: hidden;
}

.overlay {
       position: absolute;
       left: 0;
       top: 0;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       color: var(--color-five);
       text-align: center;
       width: 100%;
       height: 100%;
       overflow: auto;
       transform: translate(0, 100%);
       transition: transform var(--transition);
       padding: 40px 32px;
       background-color: var(--color-too);
}

.portfolio-item:hover .overlay,
.portfolio-item:focus .overlay {
       transform: translate(0, 0);
}

.backdrop.is-hidden {
       opacity: 0;
       visibility: hidden;
       pointer-events: none;

}

.backdrop {
       position: fixed;
       top: 0;
       left: 0;
       z-index: 100;
       width: 100%;
       height: 100%;
       background-color: rgba(46, 47, 66, 0.4);
       transition: opacity var(--transition), visibility var(--transition);
       overflow-y: scroll;

}

.modal {
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       width: 408px;
       min-height: 576px;
       padding: 72px 24px 24px 24px;
       background-color: var(--color-ten);
       border-radius: 4px;
       box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
       transition: transform var(--transition);

}

.modal-close-button {
       display: flex;
       position: absolute;
       cursor: pointer;
       top: 24px;
       right: 24px;
       justify-content: center;
       align-items: center;
       background-color: var(--color-seven);
       width: 24px;
       height: 24px;
       border: 1px solid rgba(0, 0, 0, 0.1);
       border-radius: 50%;
       padding: 0;
       transition: var(--transition);
       fill: var(--color-one);
       transition: background-color var(--transition), border var(--transition);
}

.modal-close-button-icon {
       transition: fill var(--transition);
}

.modal-close-button:hover,
.modal-close-button:focus {
       background-color: var(--color-six);
       border: none;
}

.modal-close-button:hover .modal-close-button-icon,
.modal-close-button:focus {
       fill: var(--color-three);
}


.p-modal {
       font-weight: 500;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       color: var(--color-one);
       margin-bottom: 16px;
       margin-left: auto;
       margin-right: auto;

}


.modal-form {
       display: flex;
       flex-direction: column;
}

.modal-form-input {
       width: 100%;
       height: 40px;
       border: 1px solid rgba(46, 47, 66, 0.4);
       border-radius: 4px;
       padding-left: 42px;
       transition: border-color var(--transition);
}


.modal-form-input:focus {
       outline: none;
       border-color: var(--color-too);
}

.modal-form-input-desk {
       display: block;
       font-size: 14;
       line-height: 1.2;
       margin-bottom: 8px;
       color: rgba(46, 47, 66, 0.4);


}

.modal-form-field {
       margin-bottom: 12px;
}

.modal-form-input-wrapper {
       display: block;
       position: relative;
}

.modal-form-input-icon {
       display: block;
       position: absolute;
       top: 50%;
       transform: translate(0, -50%);
       left: 12px;
       width: 18px;
       height: 24px;
       fill: currentColor;
       transition: fill var(--transition);
}

.modal-form-input:focus+.modal-form-input-icon {
       fill: var(--color-too);
}

.modal-form-message {
       width: 100%;
       height: 120px;
       padding: 10px 16px;
       resize: none;
       border: 1px solid rgba(46, 47, 66, 0.4);
       color: rgba(46, 47, 66, 0.4);
       border-radius: 4px;
       transition: border-color var(--transition) color var(--transition);
}

.modal-form-message:focus {
       outline: none;
       border-color: var(--color-too);
       color: var(--color-one);
}


.modal-form-check-desc {
       display: flex;
       font-size: 12px;
       line-height: 1, 2;
       align-items: center;
       margin-bottom: 20px;

}

.modal-form-check-desc::before {
       content: '';
       display: block;
       width: 16px;
       height: 16px;
       border: 1px solid rgba(46, 47, 66, 0.4);
       border-radius: 2px;
       cursor: pointer;
       margin-right: 10px;
}




.modal-form-check {}

.modal-form-check:checked+.modal-form-check-desc::before {
       border-color: var(--color-six);
       background-color: var(--color-six);
       background-image: url('../images/checkbox.svg');
       background-size: contain;
       background-origin: border-box;
       outline: none;
}


.modal-form-submit {
       font-family: 'Roboto', sans-serif;
       font-weight: 500;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.04em;
       cursor: pointer;
       background-color: var(--color-too);
       color: var(--color-three);
       min-width: 169px;
       height: 56px;
       display: block;
       margin: 0 auto;
       padding: 16px 32px 16px 32px;
       border: none;
       border-radius: 4px;
       transition: background-color var(--transition);
}

.modal-form-submit:hover,
.button:focus {
       background-color: var(--color-six);}


}

      
 

 @media screen and (min-width:768px) { 

.container {
              max-width: 768px;
              padding-left: 15px;
              padding-right: 15px;
              margin: 0 auto;
       }

       
       

.header{padding-top: 0px;
       padding-bottom: 0px;

}




 .title-one {
             font-weight: 700;
             font-size: 56px;
             line-height: 1.07;
             letter-spacing: 0.02em;
             text-align: center;
             color: var(--color-three);
             max-width: 496px;
             margin: 0 auto;
             margin-bottom: 48px;
              }

 .title-three-one {
       font-weight: 700;
       font-size: 36px;
       line-height: 1.11;
       letter-spacing: 0.045em;
       text-align: start;
       text-transform: capitalize;                

} 


.p-footer {font-style: normal;
       font-weight: 400;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       color: var(--color-five);
       margin-left: auto;
       margin-right: auto;
       
}

.p-footer-one {
       font-weight: 500;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       color: var(--color-three);
       width: 268;
       margin-bottom: 16px;
       padding-left: 0px;
       }



.p-footer-too {
       
       padding-left: 0px;
}

.nav { display: flex;
       align-items: center;
}




.menu { 
       display: flex;
       align-items: center;
       column-gap: 40px;
}


.menu-link {
       font-weight: 500;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02;
       padding-top: 24px;
       padding-bottom: 24px;
       position: relative;
       color: var(--color-four);
       transition: color var(--transition)

}

.menu-link:hover,
.menu-link:focus {
       color: var(--color-six);
}

.current-link {
       position: relative;
       color: var(--color-six);
       transition: color var(--transition);
}

.current-link::after {
       content: '';
       position: absolute;
       left: 0;
       display: block;
       width: 100%;
       height: 4px;
       bottom: -1px;
       background-color: var(--color-six);
       border-radius: 2px;
       transition: transfotm color var(--color-six);
}


.adress {       
       font-style: normal;
       align-items: center;
       margin-left: auto;
}

.menu-adress{flex-direction: column;
             display: flex;
             align-items: center;
             column-gap: 40px;


}

.mail {font-size: 12px;
       color: var(--color-four);
       line-height: 1.17;
       letter-spacing: 0.02em;
       transition: color var(--transition);
       margin-bottom: 12px;
} 

.mail:hover,.mail:focus {color: var(--color-six);}


.phone-number {
       font-size: 12px;
       color: var(--color-four);
       line-height: 1.17;
       letter-spacing: 0.02em;
       transition: color var(--transition);
}


.phone-number:hover,.phone-number:focus {color: var(--color-six);} 

.hero {
       padding-top: 112px;
       padding-bottom: 112px;
       background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
              url('../images/tablet/dark-bg-1x.jpg');
       background-size: cover;
       background-repeat: no-repeat;
       background-position: center;
       background-color: rgba(46, 47, 66, 0.7);
       max-width: 768px;
       margin: 0 auto;}





@media screen and (min-device-pixel-ratio:2) and (max-width:1157px),
screen and (min-resolution:192dpi) and (max-width:1157px),
screen and (min-resolution: 2dppx) and (max-width:1157px) {

       .hero {
              padding-top: 188px;
              padding-bottom: 188px;
              background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                     url('../images/tablet/dark-bg-2x.jpg');
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
              background-color: rgba(46, 47, 66, 0.7);
              max-width: 768px;
              margin: 0 auto;
       }
}














 .advantages {
       background-color: var(--color-three);
       padding-top: 96px;
       padding-bottom: 96px;
       
}

                
.line-advantages {flex-direction: row;
       display: flex;
       flex-wrap: wrap;
       column-gap: 24px; 
       row-gap: 72px; 
} 

.title-three-one {
       font-weight: 700;
       font-size: 36px;
       line-height: 1.11;
       letter-spacing: 0.045em;
       text-transform: capitalize;
       
}

 .width-element {
       width: calc((100% - 24px)/2);
       justify-content: center;
       row-gap: 12px;
} 



.line {
       flex-direction: row;
       display: flex;
}

.line-one {
       flex-direction: row;
       display: flex;
       justify-content: center;
       flex-wrap: wrap; 
       column-gap:24px;
       row-gap: 72px;

}

 
.customers {
       background-color: var(--color-three);
       padding-top: 96px;
       padding-bottom: 96px;
}

.customers-icon-size {
       width: 168px;
       height: 88px;
}

.line-customers {
       display: flex;
       flex-wrap: wrap;
       row-gap: 72px;
       column-gap: 24px;

}



.color-icons-customers {
       fill: currentColor;
}


.line-portfolio-one {
       display: flex;
       align-items: center;
       justify-content: center;
       column-gap: 24px;
       margin-bottom: 72px;
}

.line-portfolio-too {
       display: flex;
       flex-wrap: wrap;
       row-gap: 48px;
       column-gap: 24px;
}

.m-left {
       margin-left: auto;
}


.card {
       background-color: var(--color-three);
}








.portfolio-item:focus .overlay {
       transform: translate(0, 0);
}


.footer-tablet-container {
      padding-left: 108px;
}






.line-footer {
       flex-direction: row;
       display: flex;
       flex-wrap: wrap;
       justify-content: start;
       column-gap: 40px;
       row-gap: 72px;
}


.logo-footer {
       margin-left: 0px;
       padding-left: 0px;
       
}

.m-footer-one {gap: 24px;}



.footer-form-input {
       width: 264px;
       height: 40px;
       border: 1px solid var(--color-three);
       border-radius: 4px;
       padding-left: 12px;
       outline: none;
       background-color: var(--color-one);
       color: var(--color-three);
}
.input-footer {
       flex-direction: row;
       display: flex;
       margin-top: 16px;
       column-gap: 48px;
}


.button-footer {
       width: 77px;
       margin-left:0px;
}


}


















@media screen and (min-width:1158px) {

       .container {max-width: 1158px;
                   margin-left: auto;
                   margin-right: auto;
                   } 


.p-descriphion {font-weight:400;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       color: var(--color-four);
}

.p-descriphion-one {font-weight:400;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       color: var(--color-four);
}



 

.line {flex-direction: row;
       display: flex;}


.title-three {
       font-weight: 500;
       font-size: 20px;
       line-height: 1.2;
       letter-spacing: 0.02em;
       color: var(--color-one);
       margin-bottom: 8px;
       
}


 .title-three-one {
       font-weight: 500;
       font-size: 20px;
       line-height: 1.2;
       letter-spacing: 0.02em;
       color: var(--color-one);
       margin-bottom: 8px;
       margin-top: 0px;} 


.mail {
       font-size: 16px;
       color: var(--color-four);
       line-height: 1.5;
       letter-spacing: 0.02em;
       transition: color var(--transition);
       margin-bottom: 0;
}

.phone-number {
            font-size: 16px;
            color: var(--color-four);
            line-height: 1.5;
            letter-spacing: 0.02em;
            transition: color var(--transition);
}


.advantages {
       background-color: var(--color-three);
       padding-top: 120px;
       padding-bottom: 120px;
}

.what-are-we-doing {display: block;
       background-color: var(--color-three);
       padding-bottom: 120px;
}

.line-one{flex-direction: row;
          display:flex;}

.line-customers{display:flex;}
  .hero {
        padding-top: 188px; 
        padding-bottom: 188px; 
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
              url('../images/people-office-hero.jpg');
        background-size: cover; 
        background-repeat: no-repeat; 
        background-position: center; 
        background-color: rgba(46, 47, 66, 0.7); 
        max-width: 1440px;
        margin: 0 auto;}   


@media screen and (min-device-pixel-ratio:2) and (min-width:1158px),
screen and (min-resolution:192dpi) and (min-width:1158px),
screen and (min-resolution: 2dppx) and (max-width:1158px) {

       .hero {
              padding-top: 188px;
              padding-bottom: 188px;
              background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
                     url('../images/people-office-hero.jpg');
              background-size: cover;
              background-repeat: no-repeat;
              background-position: center;
              background-color: rgba(46, 47, 66, 0.7);
              max-width: 1440px;
              margin: 0 auto;
       }
}












.width-element{width: calc((100% - 72px)/4);
               justify-content: center;
              column-gap: 24px; }       

 
        
.nav{display: flex;
     align-items: center;} 
     
         


 .menu{display: flex;
      align-items: center;
      column-gap: 40px;} 


 .menu-link {font-weight:500 ;
            font-size:16px;
            line-height: 1.5;
            letter-spacing: 0.02;
            padding-top: 24px; 
            padding-bottom: 24px;    
            position: relative;
            color: var(--color-four);
            transition: color var(--transition)} */

 .menu-link:hover,.menu-link:focus{ color: var(--color-six);}  


 





.current-link{position: relative;
              color: var(--color-six);
              transition: color var(--transition);}

.current-link::after{content:'';
                  position: absolute;
                  left:0;
                  display: block;
                  width: 100%;
                  height: 4px;
                  bottom: -1px;
                  background-color: var(--color-six);
                  border-radius: 2px;
                  transition:transfotm color var(--color-six);}                


.adress{font-style: normal;
        align-items: center;}  

.menu-adress {
       flex-direction: row;
       display: flex;
       align-items: center;
       column-gap: 40px;}




.line-advantages{display:flex;
                 flex-wrap: nowrap;
                 column-gap: 24px; }

.customers-icon-size {
       width: calc((100% - 120px) / 6);
       height: 88px;}


.line-portfolio-one {
       display: flex;
       align-items: center;
       justify-content: center;
       column-gap: 24px;
       margin-bottom: 72px;
}

.line-portfolio-too {
       display: flex;
       flex-wrap: wrap;
       row-gap: 48px;
       column-gap: 24px;
}

.m-left{margin-left: auto;} 

  .right-margin {
        justify-content: center;
        gap: 24px;
 }  


 
 
  


                            
.card{background-color: var(--color-three);}
                             
.advantages{background-color:var(--color-three); 
             padding-top: 120px;
             padding-bottom: 120px;}


 .icon-conteiner {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 264px;
        height: 112px;
        background-color: var(--color-five);
        border-radius: 4px;
        margin-bottom: 8px;
 }



.portfolio-item:focus .overlay{transform: translate(0,0);} 


/* .p-footer {
       font-weight: 400;
       font-size: 20px;
       font-style: normal;
       line-height: 1.2;
       letter-spacing: 0.4px;
       color: var(--color-five);
       width: 264px;
      
} */


.footer-tablet-container {padding-left:0px;}

.line-footer {
       flex-direction: row;
       display: flex;
       flex-wrap: nowrap;
       align-items: baseline;
       gap: 120px;
}
.logo-footer {padding-left: 0px;} 
.m-footer-one {gap: 16px;
}


.input-footer {flex-direction: row;
       display: flex;
       margin-top: 16px;
       column-gap: 24px;
}

.button-footer {
       width: 77px;
       margin: 0 auto;
}
}